# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Andrea\Università\OneDrive - Politecnico di Milano\DB2_progetti\PROGETTO\Codice\GMA_EJB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
